extends layout

block Users
    label Total： #{data.length}
    hr
 
    table.list
      thead
        tr
          th UserID
          th UserName
          th Name
          th Email
          th Department
          th BlockNo
          th SharesFolder
          
          th 
      each item in data
        tr
          td= item.id 
          td= item.UserName
          td= item.Name
          td= item.Email
          td= item.Department
          td= item.ActiveBlockNumber  
          td= item.SharesFolder
          
          td  
            a(href="/users/info/"+item.id, title="Edit").icon
              i(aria-hidden="true").fa.fa-info
          
